.modalMaterial{
    background-color: rgba(255, 255, 255, 0.699);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.modalMaterial.active{
    display: none;
}

#conteinerVerMaterial{
    background-color: #E2E2E2;   
    position: absolute;
    width: 70%;
    height: 70%;
    padding: 50px;
}

.cabecalho{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#xNotasAd{
    cursor: pointer;
}


.mostradorMaterial{

    /* background-color: hotpink; */
    display: grid;
    grid-template: repeat(4, 1fr) /repeat(4, 1fr);
    gap: 5px;
    text-align: center;
    overflow: auto;

}


.campoMaterial{
    margin-bottom: 5px;
    height: 25px;
}

.amareloMaterial{
    height: 100%;
    background-color: #FECE00;
    font-weight: 900;
    cursor: pointer;
}


@media (max-width: 1077px) {
    
    #xNotasAd{
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 640px) {

    #xNotasAd{
        width: 30px;
        height: 30px;
    }
    
    h1{
        font-size:  1.5rem;
    }

    .modalMaterial{
        width: 100vw;
        height: 100vh;
       
    }
    
    #conteinerVerMaterial{
        padding: 50px 25px 25px;    
    }
}
