*{
    margin: 0;
    padding: 0;
    font-family: bilo, sans-serif; 
    color: #51504E;

}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: none;
    background-image: url(/assets/images/usuario.png);
    color: -internal-light-dark(black, white) !important;
}

/* input[type=text]::marker{
background-color: transparent;
} */


.conteinerLogin{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.login{
    background-color:#FFEEA9 ;
    height: 100vh;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#logoLucas{
    width: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
}

form{
    /* background-color: pink; */
    margin-bottom: 1rem;;
    width: 80%;
    box-sizing: border-box;
    
}

input[type=text],[type=password] {
    margin-bottom: 2rem;
    width: 80%;
    padding: 10px 0px 10px 0px ;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    padding-inline-start: 9%;
    outline: 0;
    box-sizing: border-box;
    /* transform: translateX(-5%); */
}


input[type=text]{
    background-image:url(/assets/images/usuario.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4%;
    background-color: white;
}

input[type=password]{
    background-image: url(/assets/images/senha.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4%;
}


input[type=submit]{
    padding: 15px 20px;
    font-size: 2rem;
    border-radius: 25px;
    border: none;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #FECE00;
    color: white;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0;
    outline: none;
    

    transition-property: padding-right padding-left;
    transition-duration: 0.5s;
}


input[type=submit]:hover{
    padding-left: 35px;
    padding-right: 35px;

}

.btAcessarLogin{
    background-color: #FECE00;
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 50px;
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 1rem;

    transition: all ease 0.5s;

}

.btAcessarLogin:hover{
    color: #FECE00;
    background-color: #51504E;
}


P{
    color: #51504E;
    cursor: pointer;
}

.demo1{
    position: fixed;
    left: 50%;
    top: 0px;
    font-size: 15px;
    transform: translateX(-50%);
}

.demo2{
    position: fixed;
    left: 50%;
    top: 20px;
    font-size: 15px;
    transform: translateX(-50%);
}

.ilustracao{
    width: 55%;
    text-align: center;
}

#ilustracaoImg{
    width: 450px;
}

.carregamento{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content:center;
    background-color: rgb(252, 253, 253,0.5);
}

.load{
    width: 40px;
    height: 40px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color:transparent;
    margin: 0 auto;
    color:#FECE00;
    animation: load 0.6s linear infinite;
}



@keyframes load{
    to{
        transform: rotate(360deg);
    }

    from{

    }
}

 @media screen and (min-width: 1631px ) and (max-width: 1930px) {

    #logoLucas{
        width: 600px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    input[type=text],[type=password] {
        width: 60%;
        padding: 30px;
        margin-top: 20px;
        padding-inline-start: 10%;
    }

    input[type=text]{
        background-position-x: 4%;
        background-size:30px;
    }
    
    input[type=password]{
        background-position-x: 4%;
        background-size:20px;
    }

    input[type=submit]{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 90px;
        font-size: 2.5rem;
    }

    P{
        font-size: 1.8rem;
    }

    #ilustracaoImg{
        width: 700px;
    }

}

@media screen and (min-width: 1550px) and (max-width: 1630px) {

    #logoLucas{
        width: 450px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    input[type=text],[type=password] {
        width: 60%;
        padding: 30px;
        margin-top: 15px;
        padding-inline-start: 10%;
    }

    input[type=text]{
        background-position-x: 4%;
        background-size:30px;
    }
    
    input[type=password]{
        background-position-x: 6%;
        background-size:20px;
    }

    input[type=submit]{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 70px;
        padding-left: 70px;
        font-size: 2.5rem;
        margin-top: 50px;
        
    }

    input[type=submit]:hover{
        padding-left: 90px;
        padding-right: 90px;
    
    }

    P{
        font-size: 1.5rem;
    }

    #ilustracaoImg{
        width: 600px;
    }

}


@media screen and (min-width: 890px) and (max-width: 1300px)  {
    #logoLucas{
        width: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    input[type=text],[type=password] {
        width: 70%;
        padding: 10px;
        margin-top: 10px;
        
    }

    input[type=text]{
        padding-inline-start: 40px;
        background-position-x: 4%;
        background-size:15px;
    }
    
    input[type=password]{
        padding-inline-start: 40px;
        background-position-x: 4%;
        background-size:10px;
    }

    input[type=submit]{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 1.8rem;
        margin-top: 20px;
    }

    input[type=submit]:hover{
        padding-left: 60px;
        padding-right: 60px;
    
    }

    P{
        font-size: 1rem;
    }

    #ilustracaoImg{
        width: 400px;
    }
}

@media screen and (max-width:889px) {
    #logoLucas{
        width: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    input[type=text],[type=password] {
        width: 50%;
    }


    #ilustracaoImg{
        width: 350px;
    }

    input[type=text]{
        background-position-x: 7%;
        background-size:15px;
    }
    
    input[type=password]{
        background-position-x: 7%;
        background-size: 10px;
    }

    input[type=submit]{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 1.5rem;
    }

    input[type=submit]:hover{
        padding-left: 430px;
        padding-right: 30px;
    
    }

    P{
        font-size: 0.8rem;
    }


}

@media screen and (max-width:679px) {
    .conteinerLogin{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height:min-content;
        overflow:auto;
    }
    
    .login{
        background-color:#FFEEA9 ;
        width: 150%;
        text-align: center;
    }

    .ilustracao{
        width: 100%;
        text-align: center;
    }

    #logoLucas{
        width: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    input[type=text],[type=password] {
        width: 50%;
    }


    #ilustracaoImg{
        width: 250px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    input[type=text]{
        background-position-x: 7%;
        background-size:12px;
        padding-inline-start: 9%;
    }
    
    input[type=password]{
        background-position-x: 7%;
        background-size: 8px;
        padding-inline-start: 10%;
    }

    input[type=submit]{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 1.4rem;
    }

    input[type=submit]:hover{
        padding-left: 0px;
        padding-right: 0px;
    
    }

    .btAcessarLogin{
     
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        font-size: 1.2rem;
 
    
    }

    P{
        font-size: 0.8rem;
    }


}
