@font-face {
    font-family: lemonLight;
    src: url(/assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: lemonRegular;
    src: url(/assets/fonts/LEMONMILK-Regular.otf);
}


@font-face {
    font-family: lemonMedium;
    src: url(/assets/fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: lemonBold;
    src: url(/assets/fonts/LEMONMILK-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;
    font-family: bilo, sans-serif;
    color: #5D5D5D;
}

#floatLeft{
    position: absolute;
    top:30px;
    left: 30px;
    font-size: 1rem;
    font-family: lemonLight;
    font-size: 10px;
    /* letter-spacing: 10px; */
}

#floatRight{
    position: absolute;
    top:30px;
    right: 30px;
    width: 150px;
}

.conteinerAluno{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
}

.alunoSaudacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: crimson; */
}

.bolaAluno{
    /* background-color: chartreuse; */
   
}

#fotoAlunoId{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

#ola{
    font-family: lemonLight;
}

.todasFuncoes{
    /* background-color: purple; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.funcoes{
    text-align: center;
    /* background-color: red; */
    box-sizing: border-box;
    height: 100%;
   
}

.bolaFuncoes{
    background-color: #FECE00;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

   transition-property: background-color;
   transition-duration: 0.5s;
}

.bolaFuncoes:hover{
    background-color: #494949;   
}

p{
    font-size: 1.1rem;
}

#centralizador{
    transform: translateX(5px);
}

#duvidasTag{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 12px;
    font-family: lemonLight;
}

@media screen and (min-width: 1700px) and (max-width: 1990px) {
    
}
