@font-face {
    font-family: lemonRegular;
    src: url(/assets/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: lemonLight;
    src: url(/assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: lemonMedium;
    src: url(/assets/fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: lemonLight, Arial, Helvetica, sans-serif;
    src: url(/assets/fonts/LEMONMILK-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;
    font-family: bilo, sans-serif;
    color: #5D5D5D;
}

#floatLeft{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 0.8rem;
}

#floatRight{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    width: 150px;
}

.conteinerAluno{
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
}

.alunoSaudacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: crimson;
}

.bolaAluno{
    background-color: chartreuse;
   
}

#fotoAlunoId{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.todasFuncoes{
    background-color: purple;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}





















#duvidasTag{
    position: sticky;
    float: right;
    bottom: 20px;
    right: 20px;
}


