*{
    margin: 0;
    padding: 0;
}

.modalAdvertenciasProfessor{
    background-color: rgba(255, 255, 255, 0.699);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    overflow: auto;

    animation-name: aparece;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.modalAdvertenciasProfessor.active{
    display: none;
}

#conteinerVerAdvertenciasProfessor{
    background-color: #FFEEA9;   
    position: absolute;
    width: 50%;
    height: 70%;
    padding: 30px 60px 60px 60px;
    overflow: auto;
}

.cabecalho{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#xNotasAd{
    cursor: pointer;
}

.xAdv{
    transform: translate(50%, -90%)
   
}


.mostradorAdvertenciasProfessor > form{

    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-areas: 
                        'pAnoTurmaAdv pNomeAlunoAdv'
                        'anoTurmaAdv nomeAlunoNotaAdv'
                        'pTipoAdv pTipoAdv'
                        'tipoAdvOuSuspe tipoAdvOuSuspe'
                        'pMotivoAdv pMotivoAdv'
                        'motivo motivo'
                        'pDataAdv pDataAdv'
                        'dataAdv dataAdv'
                        'pConseAdv pConseAdv'
                        'consequencia consequencia'
                        'btSubmit btSubmit';

    gap: 8px;

}

#pNomeAlunoAdv{
    grid-area: pNomeAlunoAdv;
}

#nomeAlunoNotaAdv{
    grid-area: nomeAlunoNotaAdv;
}

#pTipoAdv{
    grid-area:pTipoAdv;
}

#tipoAdvOuSuspe{
    grid-area: tipoAdvOuSuspe;
}

#pMotivoAdv{
    grid-area: pMotivoAdv;
}

#motivo{
    grid-area: motivo;
}

#pDataAdv{
    grid-area: pDataAdv;
}

#dataAdv{
    grid-area: dataAdv;
}

#pConseAdv{
    grid-area: pConseAdv;
}

#consequencia{
    grid-area: consequencia;
}

#btSubmit{
    grid-area: btSubmit;
    margin: auto;
    margin-top: 20px;
    width: auto;
    
}


.campo{
    background-color: white;
    padding: 8px;
}

form > input, textarea{
    border: none;
    outline: none;
    color: gray;
    background-color: white;
    
}

.amarelo{
    background-color: #FECE00;
    font-weight: 900;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 500ms;
}

.amarelo:hover{
    background-color: #494949;
    color: #FECE00;
}



@media (max-width: 1077px) {
    
    #xNotasAd{
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 640px) {

    #xNotasAd{
        width: 30px;
        height: 30px;
    }
    
    h1{
        font-size:  1.5rem;
    }

    .modalAdvertencias{
        width: 100vw;
        height: 100vh;
       
    }
    
    #conteinerVerAdvertencias{
        padding: 50px 25px 25px;    
    }
}

@media (max-width: 500px) {

    #conteinerVerAdvertenciasProfessor{
        padding: 0px 50px 50px 50px;

    }

    h1{
        font-size: 0.9rem;

    }

    p{
    font-size:0.830rem;
    }

    .mostradorAdvertenciasProfessor input[type=text]{
        padding-inline-start: 10%;
    }
}