.modalCadastrarAluno{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    animation-name: aparece;
    animation-duration: 0.5s;
    animation-timing-function: linear;
   
}

.modalCadastrarAluno.active{
    display: none;
}

#conteinerVerCadastroAluno{
    background-color: #ffeea9;   
    position: absolute;
    width: 50%;
    height: 70%;
    padding: 50px;
    overflow: auto;
}

.cabecalho{
    margin-top: 50px;
}

#xNotas{
    cursor: pointer;
    float: right;
}


.mostradorAlunoCadastro  > #formCadastrar{
    /* background-color: tomato; */
    display: grid;

    grid-template-columns: 1fr 2fr; 
    grid-template-areas: 
                        'pTurma pMatricula'
                        'anoTurmaNovoAluno matriculaNovoAluno ' 
                        'pNomeAluno pNomeAluno' 
                        'nomeNovoAluno nomeNovoAluno'
                        'pIdade pCpf'
                        'idadeNovoAluno cpfNovoAluno '
                        'pCelular pEmailAluno'
                        'celularNovoAluno emailNovoAluno'
                        'pNomeResp pNomeResp'
                        'nomeResponsavelNovoAluno nomeResponsavelNovoAluno'
                        'pEmailResp pEmailResp'
                        'emailResponsavelNovoAluno emailResponsavelNovoAluno'
                        'pCelResp pObs'
                        'celularResponsavelNovoAluno obsNovoAluno'
                        'btCadastrar btCadastrar';
    
    gap: 5px 8px;
    
}

form > p{
    margin-top: 0;
}

#pTurma{
    grid-area: pTurma;
}

#pMatricula{
    grid-area:pMatricula;
}

#pNomeAluno{
    grid-area:pNomeAluno;
}

#pIdade{
    grid-area:pIdade;
}

#pCpf{
    grid-area:pCpf;
}

#pCelular{
    grid-area:pCelular;
}

#pEmailAluno{
    grid-area:pEmailAluno;
}

#pNomeResp{
    grid-area:pNomeResp;
}

#pEmailResp{
    grid-area:pEmailResp;
}

#pCelResp{
    grid-area:pCelResp;
}

#pObs{
    grid-area:pObs;
}

#anoTurmaNovoAluno{
    grid-area: anoTurmaNovoAluno ;
}

#matriculaNovoAluno{
    grid-area: matriculaNovoAluno ;
}

#nomeNovoAluno{
    grid-area: nomeNovoAluno ;
}

#idadeNovoAluno{
    grid-area: idadeNovoAluno ;
}

#cpfNovoAluno{
    grid-area: cpfNovoAluno ;
}

#celularNovoAluno{
    grid-area: celularNovoAluno ;
}

#emailNovoAluno{
    grid-area: emailNovoAluno ;
}

#nomeResponsavelNovoAluno{
    grid-area: nomeResponsavelNovoAluno ;
}

#emailResponsavelNovoAluno{
    grid-area: emailResponsavelNovoAluno ;
}

#celularResponsavelNovoAluno{
    grid-area: celularResponsavelNovoAluno ;
}

#obsNovoAluno{
    grid-area: obsNovoAluno ;
}

#btCadastrar{   
    grid-area: btCadastrar;
    width: auto;
    margin: auto;
    text-align: center;
    margin-top:20px
}

.mostradorAlunoCadastro > #formListar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                        'h1ListarAluno h1ListarAluno'
                        'pTurmaListarAluno pNomeListarAluno'
                        'turmaListarAluno nomeListarAluno'
                        'btListarAluno btListarAluno' ;

    gap: 8px;
}

#h1ListarAluno{
    margin-top:20px;
    grid-area:h1ListarAluno;
}

#pTurmaListarAluno{
    grid-area:pTurmaListarAluno;
}

#turmaListarAluno{
    grid-area:turmaListarAluno;
}

#pNomeListarAluno{
    grid-area:pNomeListarAluno;
}

#nomeListarAluno{
    grid-area:nomeListarAluno;
}

#btListarAluno{
    grid-area:btListarAluno;
    margin: auto;
    margin-top: 20px;
}

.linhaDivisoria{
    background-color:white;
    width: 100%;
    height:2px;
    margin-top:20px
}


.mostradorAlunoCadastro > #alunoBD{
    display: none;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        'linhaDivisoria linhaDivisoria'
                        'pTurmaBD pMatriculaBD'
                        'turmaBD matriculaBD'
                        'pNomeBD pNomeBD'
                        'nomeBD nomeBD'
                        'pIdadeBD pCpfBD'
                        'idadeBD cpfBD'
                        'pAlunoCelularBD pEmailBD'
                        'alunoCelularBD emailBD'
                        'pNoRespBD pNoRespBD'
                        'noRespBD noRespBD'
                        'pEmailRespDB pEmailRespDB'
                        'emailRespDB emailRespDB'
                        'pCelRespDB pObsDB'
                        'celRespDB obsDB'
                        'btFecharList btFecharList';
    gap: 8px;
}

#linhaDivisoria{
    grid-area: linhaDivisoria;
}

#pTurmaBD{
    grid-area:pTurmaBD;
}

#turmaBD{
    grid-area:turmaBD;
}

#pMatriculaBD{
    grid-area:pMatriculaBD;
}

#matriculaBD{
    grid-area:matriculaBD;
}

#pNomeBD{
    grid-area:pNomeBD;
}

#nomeBD{
    grid-area:nomeBD;
}

#pIdadeBD{
    grid-area:pIdadeBD;
}

#idadeBD{
    grid-area:idadeBD;
}

#pCpfBD{
    grid-area:pCpfBD;
}

#cpfBD{
    grid-area:cpfBD;
}

#pAlunoCelularBD{
    grid-area:pAlunoCelularBD;
}

#alunoCelularBD{
    grid-area:alunoCelularBD;
}

#pEmailBD{
    grid-area:pEmailBD;
}

#emailBD{
    grid-area:emailBD;
}

#pNoRespBD{
    grid-area:pNoRespBD;
}

#noRespBD{
    grid-area:noRespBD;
}

#pEmailRespDB{
    grid-area:pEmailRespDB;
}

#emailRespDB{
    grid-area:emailRespDB;
}

#pCelRespDB{
    grid-area:pCelRespDB;
}

#celRespDB{
    grid-area:celRespDB;
}

#pObsDB{
    grid-area:pObsDB;
}

#obsDB{
    grid-area:obsDB;
}

#btFecharList{
    grid-area:btFecharList;
    margin: auto;
    margin-top: 20px;
}

.fundoBranco{
    background-color:white;
    width:100%;
    line-height: auto;

}




.mostradorAlunoCadastro > #formExcluir{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
                        'removerAluno removerAluno'
                        'pTurmaRemoverAluno pNomeRemoverAluno'
                        'turmaExcluirAlunoInput excluirAlunoInput'
                        'btRemover btRemover';
    gap: 10px;
}


#removerAluno{
    grid-area: removerAluno ;
    margin-top: 15px;
}

#pTurmaRemoverAluno{
    grid-area: pTurmaRemoverAluno;
}

#turmaExcluirAlunoInput{
    grid-area: turmaExcluirAlunoInput ;
}

#pNomeRemoverAluno{
    grid-area: pNomeRemoverAluno;
}

#excluirAlunoInput{
    grid-area: excluirAlunoInput ;
}

#btRemover{
    grid-area: btRemover ;
    margin: auto;
    width: auto;
    margin-top:20px;
}



form input[type="submit"]{
    background-color:#FECE00;
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    outline: none;
    border: none;
    border-radius: 10px;

    /* transition-property: background-color color; */
    transition: ease 0.5s;
}

form input[type="submit"]:hover{
    background-color: #494949;
    color:#FECE00;
}

form > select{
    background-color: white;
}


.centralizador{
    /* background-color: tomato; */
    margin-top: 15px;
    text-align: center;
}

form > input{
    border: none;
    outline: none;
    padding: 5px 0px 5px 0px;
    width: 100%;
}


@media (max-width: 640px) {

    #xNotas{
        width: 30px;
        height: 30px;
    }
    
    h1{
        font-size:  1.5rem;
    }

    .modalCadastrarAluno{
        width: 100%;
        height: 100%;
       
    }
    
    #conteinerVerCadastroAluno{
        width: 80%;
        padding: 50px 25px 25px;    
    }

   
}
