*{
    margin: 0;
    padding: 0;
}
.modalMaterialProfessor{
    background-color: rgba(255, 255, 255, 0.699);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    overflow:auto;

    animation-name: aparece;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.modalMaterialProfessor.active{
    display: none;
}

#conteinerVerMaterial{
    background-color: #E2E2E2;   
    position: absolute;
    width: 40%;
    height: auto;
    padding: 0px 50px 50px 50px;
    overflow: auto;
    overflow:auto;
}

.cabecalho{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.mostradorMaterialProfessor{

    width: 100%;
    height: 70%;
    overflow: hidden;

}


.campoMaterial{
    height: 100%;

}

.amareloMaterial{
    height: 50%;
    padding: 10px;
    background-color: #FECE00;
    font-weight: 900;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 500ms;
}

.amareloMaterial:hover{
    background-color: #494949;
    color: #FECE00;
}

input[type="file"]{
    display: none;
    cursor: pointer;    
}

form > label{
    cursor: pointer;
    background-color: #FECE00;
    width: auto;
    padding: 10px;
    text-align: center;

    transition: all 0.5s ease;
}

form > label:hover{
    background-color:#494949;
    color: #FECE00;
}

form > input[type="submit"]{
    background-color: #FECE00;
    width: auto;
    margin: auto;
}

.mostradorMaterialProfessor > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        'pNomeAtiv'
                        'nomeAtiviProfessor'
                        'pDisciplinaMaterialProfessor'
                        'disciplinaMAterialProfessor'
                        'pArquivoUpload'
                        'arquivoUpload'
                        'btEnviarMaterial';
    gap: 10px;
}

#pNomeAtiv{
    grid-area:pNomeAtiv ;
}

#nomeAtiviProfessor{
    grid-area:nomeAtiviProfessor ;
}

#pDisciplinaMaterialProfessor{
    grid-area:pDisciplinaMaterialProfessor ;
}

#disciplinaMAterialProfessor{
    grid-area:disciplinaMAterialProfessor ;
}

#pArquivoUpload{
    grid-area: pArquivoUpload;
}

#arquivoUpload{
    grid-area: arquivoUpload;
}

#btEnviarMaterial{
    grid-area:btEnviarMaterial ;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: auto;
}


@media (min-width: 1800px){

    #xMaterial{
        cursor: pointer;
        width: 60px;
        height: 60px;
    }

}

@media (max-width: 1077px) {
    
    #xNotas{
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 640px) {
    
    .modalMaterialProfessor{
        width: 100%;
        height: 100% ;
    }

    #conteinerVerMaterial{

        width: 80%;
        height: auto;
        padding: 50px 10px 50px 10px;    
    }

    #xNotas{
        width: 10px;
        height: 10px;
    }
    
    h1{
        font-size:  0.8rem;
    }
    

    .campoMaterial{
        font-size: 0.8rem;
        margin-bottom: 30px;
    }

    .amareloMaterial{
        height: 40%;
        padding: 10px;
    }
}
